{% extends 'base.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
<h1 align='center'>State of the World with COVID-19</h1>

{% for table in tables %}
    {{table|safe}}
    <br>
{% endfor %}

<div class='images' style="display: flex;flex-direction: column;align-items: center;">
    <img src='./static/images/aggs.png' width=90%>
    <img src='./static/images/pct_change.png' width=90%>
    <img src='./static/images/confirmed.png' width=90%>
    <img src='./static/images/dead.png' width=90%>
    <img src='./static/images/fatality_rate.png' width=90%>
    
</div>
{% endblock %}